
<style>
    #u-jumbotron {
        background-color: #172851;
    }

    #userinfo {
        color: white;
        font-weight: 900;
    }
</style>

<div class="jumbotron" id="u-jumbotron">
    <div class="container">
        <p id="userinfo" class="text-right pt-3"> @User.Identity.Name<br> @User.Identity.AuthenticationType </p>
    </div>
</div>
